.DS_Store
*.tmp
node_modules/
__pycache__/
backend/target/
frontend/.next/
frontend/node_modules/
engine/__pycache__/
engine/algorithms/__pycache__/
.env
backend/upload-dir/
.vercel
frontend/.vercel/
